In [102]:
import pandas as pd

data = pd.read_csv('/content/adult.data.csv')

In [86]:
# Male and Female
print(data['sex'].where(data['sex']=='Male').count())
print(data['sex'].where(data['sex']=='Female').count())

21790
10771

In [ ]:
# male average age 

print(data['age'].where(data['sex']=='Male').mean())

In [ ]:
# people form usa 

print((data['native-country'].where(data['native-country']=='United-States').count())/ data['native-country'].count())

In [ ]:
# mean salary

print(data['age'].where(data['salary']=='>50K').mean())
print(data['age'].where(data['salary']=='>50K').std())
# no one get <50K, so I used <=50K criteria
print(data['age'].where(data['salary']=='<=50K').mean())
print(data['age'].where(data['salary']=='<=50K').std())

In [ ]:

# high educated means salary >=50K
sal_condition= data['salary']=='>50K'
edu_sal_condition = (((data['education']== 'Bachelors')|  (data['education']== 'Prof-school') | (data['education']== 'Assoc-acdm') | (data['education']=='Assoc-voc') | (data['education']== 'Masters') | (data['education']== 'Doctorate')) & sal_condition )
salary = data['salary'].where(sal_condition).count()
salary_education = data['salary'].where(edu_sal_condition).count()
print(salary==salary_education)

In [ ]:
# age statistic by race 

print(data.groupby(by =['race','sex'])['age'].describe())

In [ ]:
# married against happy
married_cond = ((data['marital-status']=='Married-civ-spouse')| (data['marital-status']=='Married-spouse-absent')| 
                          (data['marital-status']=='Married-AF-spouse'))
married_with_sal_cond = ((data['salary']=='>50K') & married_cond)
happy_with_sal_cond = ( (data['salary']=='>50K') & (~married_cond))

print(data['salary'].where(married_with_sal_cond).count())
print(data['salary'].where(happy_with_sal_cond).count())

In [97]:
# max work hours
max_hours = data['hours-per-week'].max()
print(max_hours)
people_work_max_hours = data['hours-per-week'].where(data['hours-per-week']==max_hours).count()
print(people_work_max_hours)
people_work_max_hours_sal = data['salary'].where((data['hours-per-week']==max_hours) & (data['salary']=='>50K')).count()
print(people_work_max_hours_sal)
print(people_work_max_hours_sal/people_work_max_hours)

99
85
25
0.29411764705882354

In [ ]:
# mean hours for each country

print(data.where(data['salary']=='>50K').groupby(by=['native-country'])['hours-per-week'].mean())
print('\n')
print(data.where(data['salary']=='<=50K').groupby(by=['native-country'])['hours-per-week'].mean())

In [ ]:
# group yound, adult, retiree

data.loc[((data['age']>=16) & (data['age']<35)),'AgeGroup']='young'
data.loc[((data['age']>35) & (data['age']<70)),'AgeGroup']='adult'
data.loc[((data['age']>70) & (data['age']<=100)),'AgeGroup']='retiree'
print(data)

In [156]:
# earn >50K in each group
print(data['salary'].where((data['salary']=='>50K')& (data['AgeGroup']=='young')).count())
print(data['salary'].where((data['AgeGroup']=='adult') & (data['salary']=='>50K')).count())
print(data['salary'].where((data['salary']=='>50K')& (data['AgeGroup']=='retiree')).count())
df = data.where(data['salary']=='>50K').groupby(by=['AgeGroup'])['AgeGroup'].count()
df = df.where(df==df.max())
print(df[df.notna()])

1488
6023
94
AgeGroup
adult    6023.0
Name: AgeGroup, dtype: float64

In [207]:
# occupation

print(data.groupby(['occupation'])['occupation'].count())

def filter_func(data):
  df = data.where(data['hours-per-week']>5)
  df = df[df.notna()]
  df = df.groupby('occupation')['age'].mean()
  df = df.where(df<40)
  return (df.index.values)

print(filter_func(data))

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: occupation, dtype: int64
['?' 'Adm-clerical' 'Armed-Forces' 'Craft-repair' 'Exec-managerial'
 'Farming-fishing' 'Handlers-cleaners' 'Machine-op-inspct' 'Other-service'
 'Priv-house-serv' 'Prof-specialty' 'Protective-serv' 'Sales'
 'Tech-support' 'Transport-moving']